alabaster==0.7.13
alembic==1.13.0
altair==5.2.0
altgraph==0.17.4
appdirs==1.4.4
astor==0.8.1
asttokens==2.4.0
attrs==23.2.0
autograd==1.6.2
autograd-gamma==0.5.0
Babel==2.14.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
biokit==0.5.0
biopython==1.83
bioservices==1.11.2
bleach==6.1.0
blinker==1.7.0
bs4==0.0.1
cachetools==5.3.2
catboost==1.2.2
cattrs==23.2.3
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
colorlog==6.8.0
colormap==1.0.6
comm==0.1.4
contourpy==1.1.1
cryptography==41.0.7
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
docutils==0.20.1
easydev==0.12.1
et_xmlfile==2.0.0
exceptiongroup==1.2.0
executing==2.0.0
fastjsonschema==2.21.1
fonttools==4.43.1
formulaic==0.6.6
future==0.18.3
gevent==23.9.1
gitdb==4.0.11
GitPython==3.1.41
graphlib-backport==1.0.3
graphviz==0.20.1
greenlet==3.0.2
grequests==0.7.0
idna==3.4
imagesize==1.4.1
imbalanced-learn==0.12.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
interface-meta==1.3.0
ipykernel==6.25.2
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyterlab_pygments==0.3.0
keras==2.15.0
kiwisolver==1.4.5
lifelines==0.27.8
lightgbm==4.2.0
llvmlite==0.41.1
lxml==4.9.3
Mako==1.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.3
matplotlib-inline==0.1.6
mdurl==0.1.2
missingno==0.5.2
mistune==3.1.3
mysql-connector==2.2.9
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.5.8
numba==0.58.1
numpy==1.24.4
numpydoc==1.6.0
openpyxl==3.1.5
optuna==3.5.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.3
pefile==2023.2.7
pexpect==4.9.0
pickleshare==0.7.5
Pillow==10.1.0
pip==23.2.1
pipreqs==0.5.0
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
plotly==5.18.0
prompt-toolkit==3.0.39
protobuf==4.25.2
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==23.9.7
pyarrow==15.0.0
pycparser==2.21
pydeck==0.8.1b0
Pygments==2.16.1
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
PyMySQL==1.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.32.1
requests==2.31.0
requests-cache==1.1.1
rich==13.7.0
rpds-py==0.17.1
savReaderWriter==3.4.2
scikit-learn==1.3.2
scikit-optimize==0.9.0
scipy==1.10.1
seaborn==0.13.0
setuptools==68.2.1
shap==0.44.0
six==1.16.0
slicer==0.0.7
smmap==5.0.1
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.23
stack-data==0.6.3
streamlit==1.30.0
suds-community==1.1.2
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
url-normalize==1.4.3
urllib3==2.0.5
validators==0.22.0
watchdog==3.0.0
wcwidth==0.2.8
webencodings==0.5.1
wrapt==1.15.0
xgboost==2.0.3
xlrd==2.0.1
xmltodict==0.13.0
yarg==0.1.9
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
